# Imports

In [2]:
import pandas as pd
import numpy as np

# Dictionaries

In [21]:
# https://teamcolorcodes.com/ncaa-color-codes/sec-team-color-codes/

sec_color_dict_abbv = {
    'ALA': '#9e1b32', 'MISS': '#14213D', 'MIZ': '#F1B82D', 'SC': '#000000',
    'VAN': '#866d4b', 'TA&M': '#500000', 'LSU': '#461D7C', 'AUB': '#0C2340', 
    'UGA': '#BA0C2F', 'FLA': '#0021A5', 'MSST': '#660000', 'TENN': '#FF8200', 
    'ARK': '#9D2235', 'UK': '#0033a0'
}

In [33]:
sec_color_dict = {
    'Alabama': '#9e1b32', 'Mississippi': '#14213D', 'Ole Miss': '#14213D', 
    'Missouri': '#F1B82D', 'South Carolina': '#000000','Vanderbilt': '#866d4b', 
    'Texas A&M': '#500000', 'LSU': '#461D7C', 'Auburn': '#0C2340', 
    'Georgia': '#BA0C2F', 'Florida': '#0021A5', 'Miss State': '#660000', 'Mississippi St.': '#660000', 
    'Tennessee': '#FF8200', 'Arkansas': '#9D2235', 'Kentucky': '#0033a0'
}

In [34]:
sec_name_dict = {
    'ALA': 'Alabama', 'MISS': 'Ole Miss', 'MIZ': 'Missouri', 'SC': 'South Carolina',
    'VAN': 'Vanderbilt', 'TA&M': 'Texas A&M', 'LSU': 'LSU', 'AUB': 'Auburn', 
    'UGA': 'Georgia', 'FLA': 'Florida', 'MSST': 'Miss State', 'TENN': 'Tennessee', 
    'ARK': 'Arkansas', 'UK': 'Kentucky'    
}

In [35]:
conf_dict = {
    'SEC': ['ALA', 'MISS', 'MIZ', 'SC', 'VAN', 'TA&M', 'LSU', 'AUB', 'UGA', 'FLA', 
            'MSST', 'TENN', 'ARK', 'UK', 'Alabama', 'Ole Miss', 'Missouri', 
            'South Carolina', 'Vanderbilt', 'Texas A&M', 'LSU', 'Auburn', 'Georgia', 
            'Florida', 'Miss State', 'Tennessee', 'Arkansas', 'Kentucky', 'Mississippi St.'],
    'Big10': ['OSU', 'PUR', 'NW', 'MSU'], 
    'ACC': ['NCST', 'CLEM'], 
    'Pac12': ['WSU'], 
    'Big12': ['OKLA', 'OKST', 'TEX']
}

inv_conf_dict = {v: k for k, values in conf_dict.items() for v in values}

# Dataframe

In [36]:
df = pd.read_csv('CFB_QBs_2018.csv')

df['Conference'] = df['Team'].map(inv_conf_dict)
df['TeamName'] = df['Team'].map(sec_name_dict)
df['TeamColor'] = df['Team'].map(sec_color_dict_abbv)
df['TennColor'] = '#74ABD6'
df['TennColor'] = np.where(df['Team'] == 'TENN', '#f77f00', df['TennColor'])


df['Player'] = df['Player'].str.split(',', expand=True)[0]

df['YPC'] = np.round(df['Yards'] / df['Completions'],1)
df['AttemptsPerINT'] = np.round(df['Attempts'] / df['INTs'],1)
df['INTModYards'] = df['Yards'] - (df['INTs'] * 50)
df['INTModYPA'] = np.round(df['INTModYards'] / df['Attempts'],2)
df['AttemptsPerSack'] = np.round((df['Attempts'] + df['SacksTaken']) / df['SacksTaken'], 2)

df = df.drop(['Rank'], axis=1)


df = df[['Player', 'Team', 'TeamName', 'TeamColor', 'TennColor', 'Conference', 'Completions', 'Attempts',
       'CompletionPct', 'Yards', 'YPA', 'YPC', 'TDs', 'INTs', 'SacksTaken',
       'QBRating', 'AttemptsPerINT', 'INTModYards', 'INTModYPA', 'AttemptsPerSack']]

In [37]:
df.head()

,Player,Team,TeamName,TeamColor,TennColor,Conference,Completions,Attempts,CompletionPct,Yards,YPA,YPC,TDs,INTs,SacksTaken,QBRating,AttemptsPerINT,INTModYards,INTModYPA,AttemptsPerSack
0,Dwayne Haskins,OSU,NaN,NaN,#74ABD6,Big10,373,533,70.0,4831,9.1,13.0,50,8,20,174.1,66.6,4431,8.31,27.65
1,Gardner Minshew,WSU,NaN,NaN,#74ABD6,Pac12,468,662,70.7,4779,7.2,10.2,38,9,13,147.6,73.6,4329,6.54,51.92
2,Kyler Murray,OKLA,NaN,NaN,#74ABD6,Big12,260,377,69.0,4361,11.6,16.8,42,7,18,199.2,53.9,4011,10.64,21.94
3,Taylor Cornelius,OKST,NaN,NaN,#74ABD6,Big12,288,485,59.4,3978,8.2,13.8,32,13,32,144.7,37.3,3328,6.86,16.16
4,Tua Tagovailoa,ALA,Alabama,#9e1b32,#74ABD6,SEC,245,355,69.0,3966,11.2,16.2,43,6,13,199.5,59.2,3666,10.33,28.31

# SEC Data

In [38]:
sec_df = df[df['Conference'] == 'SEC'].reset_index(drop=True)

In [39]:
sec_df

,Player,Team,TeamName,TeamColor,TennColor,Conference,Completions,Attempts,CompletionPct,Yards,YPA,YPC,TDs,INTs,SacksTaken,QBRating,AttemptsPerINT,INTModYards,INTModYPA,AttemptsPerSack
0,Tua Tagovailoa,ALA,Alabama,#9e1b32,#74ABD6,SEC,245,355,69.0,3966,11.2,16.2,43,6,13,199.5,59.2,3666,10.33,28.31
1,Jordan Ta'amu,MISS,Ole Miss,#14213D,#74ABD6,SEC,266,418,63.6,3918,9.4,14.7,19,8,29,153.5,52.2,3518,8.42,15.41
2,Drew Lock,MIZ,Missouri,#F1B82D,#74ABD6,SEC,275,437,62.9,3498,8.0,12.7,28,8,13,147.7,54.6,3098,7.09,34.62
3,Jake Bentley,SC,South Carolina,#000000,#74ABD6,SEC,240,388,61.9,3171,8.2,13.2,27,14,20,146.3,27.7,2471,6.37,20.40
4,Kyle Shurmur,VAN,Vanderbilt,#866d4b,#74ABD6,SEC,254,406,62.6,3130,7.7,12.3,24,6,21,143.9,67.7,2830,6.97,20.33
5,Kellen Mond,TA&M,Texas A&M,#500000,#74ABD6,SEC,238,415,57.3,3107,7.5,13.1,24,9,34,135.0,46.1,2657,6.40,13.21
6,Joe Burrow,LSU,LSU,#461D7C,#74ABD6,SEC,219,379,57.8,2894,7.6,13.2,16,5,35,133.2,75.8,2644,6.98,11.83
7,Jarrett Stidham,AUB,Auburn,#0C2340,#74ABD6,SEC,224,369,60.7,2794,7.6,12.5,18,5,23,137.7,73.8,2544,6.89,17.04
8,Jake Fromm,UGA,Georgia,#BA0C2F,#74ABD6,SEC,206,306,67.3,2749,9.0,13.3,30,6,16,171.2,51.0,2449,8.00,20.12
9,Feleipe Franks,FLA,Florida,#0021A5,#74ABD6,SEC,188,322,58.4,2457,7.6,13.1,24,6,15,143.3,53.7,2157,6.70,22.47
10,Jarrett Guarantano,TENN,Tennessee,#FF8200,#f77f00,SEC,153,246,62.2,1907,7.8,12.5,12,3,22,141.0,82.0,1757,7.14,12.18
11,Terry Wilson,UK,Kentucky,#0033a0,#74ABD6,SEC,180,268,67.2,1889,7.0,10.5,11,8,28,134.0,33.5,1489,5.56,10.57
12,Nick Fitzgerald,MSST,Miss State,#660000,#74ABD6,SEC,145,281,51.6,1767,6.3,12.2,16,9,25,116.8,31.2,1317,4.69,12.24
13,Ty Storey,ARK,Arkansas,#9D2235,#74ABD6,SEC,143,250,57.2,1584,6.3,11.1,11,10,19,116.9,25.0,1084,4.34,14.16

In [40]:
sec_df.to_csv(r'sec_qbs_2018.csv')

# Team Rushing and Tacks for Loss Allowed Stats

In [41]:
rushing = pd.read_csv('cfb_2018_team_rushing.csv')
tfl = pd.read_csv('cfb_2018_tfl_allowed.csv')
tot_off = pd.read_csv('cfb_2018_total_offense.csv')

In [45]:
team_df = rushing.merge(tfl, on="Team", how="outer")
team_df = team_df.merge(tot_off, on="Team", how="outer")
team_df = team_df.drop(['Rank_x', 'Rank_y', 'Rank', 'G_x', 'G_y'], axis=1)
team_df['Team'] = team_df['Team'].str[:-1]
team_df['Team'] = team_df['Team'].replace('Mississippi St.', 'Miss State')
team_df['Conf'] = team_df['Team'].map(inv_conf_dict)
team_df['TeamColor'] = team_df['Team'].map(sec_color_dict)
team_df['TennColor'] = '#74ABD6'
team_df['TennColor'] = np.where(team_df['Team'] == 'Tennessee', '#f77f00', team_df['TennColor'])

team_df['PlaysPerTFL'] = np.round(team_df['Plays'] / team_df['OppTFL'],2)

# team_df = 
team_df.head()

,Team,Games,Rushes,RushingYds,YdsPerRush,RushingTDs,RushingYPG,OppSTFL,OppATFL,OppTFL,...,OppTackleYdsAvg,Plays,TotalYds,YdsPerPlay,OffTDs,YPG,Conf,TeamColor,TennColor,PlaysPerTFL
0,Georgia Tech,13,745,4225,5.67,46,325.0,55,22,66,...,5.08,871,5314,6.10,53,408.8,NaN,NaN,#74ABD6,13.20
1,Army West Point,13,824,4062,4.93,47,312.5,23,36,41,...,3.15,922,5103,5.53,54,392.5,NaN,NaN,#74ABD6,22.49
2,Air Force,12,714,3402,4.76,33,283.5,46,26,59,...,4.92,882,4978,5.64,43,414.8,NaN,NaN,#74ABD6,14.95
3,Memphis,14,615,3919,6.37,48,279.9,70,24,82,...,5.86,1028,7324,7.12,76,523.1,NaN,NaN,#74ABD6,12.54
4,Navy,13,732,3589,4.90,37,276.1,56,38,75,...,5.77,861,4536,5.27,42,348.9,NaN,NaN,#74ABD6,11.48

In [46]:
sec_team_stats = team_df[team_df['Conf'] == 'SEC']
sec_team_stats

,Team,Games,Rushes,RushingYds,YdsPerRush,RushingTDs,RushingYPG,OppSTFL,OppATFL,OppTFL,...,OppTackleYdsAvg,Plays,TotalYds,YdsPerPlay,OffTDs,YPG,Conf,TeamColor,TennColor,PlaysPerTFL
15,Georgia,14,567,3343,5.90,30,238.8,45,40,65,...,4.64,923,6508,7.05,64,464.9,SEC,#BA0C2F,#74ABD6,14.20
19,Miss State,13,514,2907,5.66,26,223.6,45,32,61,...,4.69,837,5166,6.17,48,397.4,SEC,#660000,#74ABD6,13.72
20,Texas A&M,13,538,2847,5.29,28,219.0,74,30,89,...,6.85,980,6131,6.26,53,471.6,SEC,#500000,#74ABD6,11.01
26,Florida,13,526,2771,5.27,23,213.2,42,28,56,...,4.31,890,5547,6.23,51,426.7,SEC,#0021A5,#74ABD6,15.89
32,Missouri,13,553,2631,4.76,27,202.4,48,8,52,...,4.00,1004,6263,6.24,55,481.8,SEC,#F1B82D,#74ABD6,19.31
39,Kentucky,13,536,2592,4.84,27,199.4,53,52,79,...,6.08,832,4691,5.64,41,360.8,SEC,#0033a0,#74ABD6,10.53
41,Alabama,15,571,2976,5.21,33,198.4,44,42,65,...,4.33,1009,7830,7.76,85,522.0,SEC,#9e1b32,#74ABD6,15.52
58,LSU,13,563,2257,4.01,29,173.6,58,62,89,...,6.85,950,5227,5.50,46,402.1,SEC,#461D7C,#74ABD6,10.67
66,Vanderbilt,13,434,2178,5.02,22,167.5,57,26,70,...,5.38,850,5346,6.29,46,411.2,SEC,#866d4b,#74ABD6,12.14
67,Auburn,13,512,2177,4.25,25,167.5,55,24,67,...,5.15,894,5069,5.67,46,389.9,SEC,#0C2340,#74ABD6,13.34
71,Ole Miss,12,419,1969,4.70,24,164.1,54,44,76,...,6.33,860,6126,7.12,45,510.5,SEC,#14213D,#74ABD6,11.32
90,South Carolina,13,444,1986,4.47,15,152.8,51,22,62,...,4.77,887,5533,6.24,47,425.6,SEC,#000000,#74ABD6,14.31
97,Arkansas,12,440,1721,3.91,11,143.4,69,40,89,...,7.42,810,4028,4.97,28,335.7,SEC,#9D2235,#74ABD6,9.10
112,Tennessee,12,419,1549,3.70,15,129.1,72,40,92,...,7.67,716,3906,5.46,30,325.5,SEC,#FF8200,#f77f00,7.78

In [47]:
sec_team_stats.to_csv(r'sec_team_stats_2018.csv')